.content {
    width: 350px;
    height: 150px;
    border: 1px solid black;
    margin-top: 25px;
}

.item {
    text-align: center;
    color: rgb(117, 83, 54);
}

a {
    text-decoration: none;
    color: black;
}